@if (this.vehiclesService.loaded()) {
@for (vehicle of this.vehiclesService.vehicles(); track vehicle.Case_Num) {
<app-card [vehicle]="vehicle"></app-card>
}
}
@else {
LOADING!
}
<div class="nav">
    <div class="buttons">
        <div aria-label="first page" class="l-btn" (click)="firstPage()">&lt;&lt;</div>
        <div aria-label="previous page" class="r-btn" (click)="previousPage()">&lt;</div>
    </div>
    {{this.vehiclesService.page() | number}} / {{this.vehiclesService.totalPageCount() | number}}
    <div class="buttons">
        <div aria-label="next page" class="l-btn" (click)="nextPage()">&gt;</div>
        <div aria-label="last page" class="r-btn" (click)="lastPage()">&gt;&gt;</div>
    </div>
</div>