:host {
    display: grid;
    grid-template-rows:    minmax(auto, 25%);
    grid-template-columns: repeat(7, 1fr);
}

.nav {
    display: flex;
    grid-column-start: 3;
    grid-column-end: 6;
    justify-content: space-between;
    margin: 1em 0;
}

.buttons {
    display: flex;
}

.buttons > div {
    cursor: pointer;
}

.l-btn {
    margin-right: 1em;
}